#home-button {
    z-index: 10;
}

body, html
{
    margin:0px;
    padding:0px;
    width:100%;

    min-height: 100vh;
    min-width: 100vw;
}

body.maxerino {
    font-family: 'Minecraftia';

    margin: 0;
    height: auto;

    display: flex;
    flex-direction: row;
}
input::placeholder {
    font-family: 'Minecraftia';
}
input {
    font-family: 'Minecraftia';
}

.basic-box {
    /*outline: 2px green solid;*/
    /*outline: 2px #9792e3 solid;*/
    outline: 1px #5a5766 solid;
    text-align: center;
}

p {
    margin: 0;
}

.flex-down {
    display: flex;
    flex-direction: column;
}

.flex-right {
    display: flex;
    flex-direction: row;
}

div.draft-item {
    width: 215px;
    height: 2em;
    margin: 10px;
    text-align: center;
}

p.draft-item {
    width: 100%;
    height: 100%;
    line-height: 2em;
}

html {
    height: 100%;
}

.title-container {
    width: 100%;
    height: auto;
    padding-left: 24px;
    box-sizing: border-box;
    margin-top: 7px;
    margin-bottom: 7px;
}

.title-container p {
    width: 100%;
}

div.draft-item:hover {
    cursor: pointer;
}

p.draft-item.with-hover {
    line-height:  0.9em;
    height: 45%;
    font-size: 14px;
    font-style: bold;
    padding-top: 3px;
}

p.draft-item-desc {
    font-size: 10px;
    line-height: 0.8em;
}

.draft-pool {
    /*width: 38%;*/
    width: 470px;
    height: auto;
    display: flex;
    /*line-height: 0;*/
    margin: 10px;
    box-shadow: 0px 0px 5px #111;
}

.draft-pool-inner {
    height: auto;
    width: auto;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    align-content: space-around;
}

#draft-body {
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
    width: 80vw;
    margin-left: 21vw;
    height: auto;
    align-content: flex-start;
}

#draft-pool-container {
    flex-wrap: wrap;
    display: flex;
    height: auto;

    justify-content: flex-start;
    align-content: flex-start;
}

div.player-container {
    margin: 3px;
    text-align: left;
}

.player-button {
    font-size: 11px;
    margin-right: 4px;
}

/* Left Side Styling : Player gutter. */
#left-gutter {
    padding: 16px;
    padding-top: 32px;
    width: 20vw; /* this is related to main pool */
    height: 100vh;
    box-sizing: border-box;
    background-color: #EDFFEC;
    /* background-color: #55ffff; */
    /* background-color: #61E786; */
    /* background-color: #81E59E; */
    border-right: #48435c 2px solid;
    position: fixed;
    text-align: center;
}

.gutter-big-button {
    line-height: 2em;
}

.player-title-face {
    height: 24px;
    width: 24px;
    display: inline-block;
    box-shadow: 0px 0px 5px #111;
    margin-right: 5px;
}
.clicked-player-face {
    height: 20px;
    width: 20px;
    display: inline-block;
    box-shadow: 0px 0px 3px #111;
    margin: 0px;
}
.player-face {
    height: 24px;
    width: 24px;
    display: inline-block;
    box-shadow: 0px 0px 5px #111;
    margin-right: 5px;
}
.player-name {
    display: inline-block;
}
.player-title-box {
    align-items: center;
    height: 1.6em;
}

.start-button {
    margin: 5px;
}

.draft-list {
    line-height: 1.2em;
}

/******** OPTIONS ********/
.options-div {
    width: min(50%, 800px);
    height: min(60%, 800px);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0; /* optional, for visibility */
    padding: 10px;             /* optional */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* optional */
}

.hidden {
    display: none;
}

#options-shower {
    position: fixed;
    bottom: 8px;
    right: 8px;
    font-size: 16px;
}
#undo-button {
    position: fixed;
    top: 8px;
    right: 8px;
    font-size: 16px;
}

#options-div input {
    margin-right: 24px;
}

.config-num {
    width: 4em;
}

#notice {
    font-size: 26px;
}
