/**********************************************************
 * General CSS Rules
 **********************************************************/
.stroke-text-black {
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.test-background {
    background-color: rgba(0, 0, 0, 0.3);
}

.fade-in {
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

.basic-shadow {
    -moz-box-shadow: rgba(0, 0, 0, 0.29) 0px 10px 20px, rgba(0, 0, 0, 0.43) 0px 6px 6px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.29) 0px 10px 20px, rgba(0, 0, 0, 0.43) 0px 6px 6px;
    box-shadow: rgba(0, 0, 0, 0.29) 0px 10px 20px, rgba(0, 0, 0, 0.43) 0px 6px 6px;
    /*
    -moz-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    -moz-box-shadow: 0 0 4px #111;
    -webkit-box-shadow: 0 0 4px #111;
    box-shadow: 0 0 4px #111;
    */
}

.full-flex-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.full-flex-right {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
}

/**********************************************************
 * Background / General Page Styling
 **********************************************************/
body, html
{
    margin:0px;
    padding:0px;
    width:100%;

    min-height: 100vh;
    min-width: 100vw;
}

video#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
}

body {
    font-family: 'Minecraftia';

    margin: 0;
    height: auto;
    width: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

button, .as-button, .standard-ui {
    text-align: center;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    outline: 2px solid rgba(255, 255, 255, 0.8);
    color: white;
    font-family: Minecraftia;
    font-size: 24px;
    padding: 0.5em;
}

.hide-input {
    -webkit-text-security: square;
    -moz-text-security: square;
    text-security: square;
}

button:hover, .as-button:hover  {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7);
}

a.as-button {
    color: white;
    text-decoration: none;
}

/**********************************************************
 * Login Page
 **********************************************************/
button#login-button {
    font-size: 36px;
}

div#login-page {
    width: min(100vw, 800px);
    height: min(100vh, 650px);
    /* background-color: rgba(0, 0, 0, 0.3); */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    opacity: 0;
}
div#login-page.visible {
    opacity: 1;
    transition: opacity 1200ms 0ms;
}
div#login-page.invisible {
    opacity: 0 !important;
    transition: opacity 500ms 0ms;
}

div.helper-buttons {
    width: 100%;    
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

div.helper-button-row {
    width: min(100vw, 500px);

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 3%;
    margin-bottom: 3%;

    margin-left: 2%;
    margin-right: 2%;
}

a.helper-button {
    width: 150px;
}

div#login-response-container {
    height: 70px;
    width: 100%;
    text-align: center;
}

p#login-response-text {
    color: white;
    font-size: 20px;
}

:root {
    --draft-logo-width: min(100%, 108px);
}

.draaft-logo {
    width: var(--draft-logo-width);

    -webkit-filter: drop-shadow(6px 6px 6px #444);
    filter: drop-shadow(6px 6px 6px #444 ); 
}

#login-draaft-logo {
    width: var(--draft-logo-width);

    -webkit-filter: drop-shadow(6px 6px 6px #444);
    filter: drop-shadow(6px 6px 6px #444 ); 
}

/**********************************************************
 * Menu Page
 **********************************************************/
div#menu-page {
    display: none;
    opacity: 0;

    width: min(100vw, 500px);
    height: min(100vh, 800px);

    /* Flex Settings */
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
div#menu-page.visible {
    display: flex;
    opacity: 1;
    transition: opacity 900ms 0ms;
}

p#menu-welcome-text {
    color: white;
    font-size: 48px;

    text-shadow: #555 1px 1px 5px;

    text-align: center;
    position: fixed;
    width: 100%;
    top: 78px;
    z-index: -1;
}
div#menu-page > img.draaft-logo {
    --draft-logo-width: min(100%, 64px);
    position: fixed;
    top: 16px;
    left: calc(50vw - var(--draft-logo-width) / 2);
    z-index: -1;
}

#menu-join-room {
    margin-bottom: 24px;
    width: 100%;
}

#menu-create-room {
    width: 100%;
}

#menu-rooms {
    width: min(100vw, 500px);

    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#menu-input-roomid {
    width: min(362px, 80%);
}

#menu-roomid-join {
    width: min(90px, 20%);
}

#menu-helpers {
    width: 100%;
    height: 146px;
}

div#menu-helper-buttons {
    height: 100%;
}

div.menu-helper-row {
    justify-content: space-around;
    width: 100%;

    display: flex;
    flex-direction: row;
    margin: 0;
}
