body {
    margin: 0;
    max-width: 100%;
    width: 100%;
}
.item-logo {
  grid-area: logo;
  line-height: 87%;

  padding: 5px;
  font-size: 0.75em;
}
.item-content {
  padding: 5px;
  grid-area: content;
}
.container {
    width: 100%;
    display: grid;
    grid-template-columns: 25% 60% 15%;
    grid-template-rows: auto;
    grid-template-areas: 
        "logo content ."
        ". content ."
        ". content .";
}
