body, html
{
    height: 80%;
    color: #454545;
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
}

p, h2, h3
{
}

h2,h3
{
    font-size: 200%;
    font-weight: bold;
}

body
{
    line-height: 1.6em;
    max-width: 30em;
    margin: 3em auto;
    font-size: 20px;
}

.wider
{
    max-width: 50em;
}


.info
{
    background-color: #f7f7f7;
    border: 2px solid #e5e5e5;
    display:none;
    overflow:auto;
}

#main-content
{
    margin-top: 1em;
}

table, th, td {
    border: 1px solid #454545;
}

td {
    padding-left: 0.2em;
}

table#runs tr td:nth-child(n+2) {
    padding-left: 0.5em;
}

table#runs tr td:nth-child(1) {
    text-align: center;
    padding-left: 0.1em;
    padding-right: 0.1em;
}

/*Wow, whitesmoke is a nice background colour...*/
table#runs
{
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}

.match-left {
    margin-left: 10%;
}

a:link, a:hover {
    color: #07A;
}

a:visited {
    color: #941352;
}
