#bracket-page {
    
}

#bracket-page #bracket-view-div {
    --secondary-background: rgba(0, 0, 0, 0.4) !important;
    --primary-background: rgba(0, 0, 0, 0.4) !important;
    --match-background: rgba(0, 0, 0, 0.4) !important;
    --label-color: rgba(240,240,240, 0.9);

    font-family: 'Minecraftia';

    border: none;
    background-color: rgba(0, 0, 0, 0.4);
    outline: 2px solid rgba(255, 255, 255, 0.8);
    color: white !important;

    line-height: 1rem;
}

#bracket-view-div .round > h3 {
    outline: 2px solid rgba(255, 255, 255, 0.8);
    margin-bottom: 2em;
}

.brackets-viewer .opponents>span {
    top: -15px !important;
    outline: 1px solid rgba(255, 255, 255, 0.7);
    display: none;
}

.brackets-viewer .participant .name > img {
    border-radius: 0px;
}
