.query {
    width: 5em;
    margin: 5px;
}

.query-container {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 10px;
}

.flex-vertical {
    flex-direction: column;
}

.query-submit {
    width: auto;
    margin: 5px;
    padding: 1px;
    padding-top: 0;
    padding-bottom: 0;
}
